#k-header{
	background: #555;
	opacity: 0;position: fixed;
	border-radius: 5px;
	position: fixed;
	top: 2vw;
	right:30px;
	z-index: 100;
	display: inline-block;
}
.img-k-header{width: 250px;display: inline-block;margin-top: 6px;}
.menu-k-header{width: 50px;display: inline-block; color: #fff;font-size: 50px;margin: 0 auto;height: 60px;vertical-align: top}
